dl.blog-list {
  margin-left: 2em;
  dt {
    color: $favorite-blue-color;
    font-weight: normal !important;
  }
  dd {
    margin-top: 0.4em;
    margin-left: 0em;
    font-size: 1.1em;
  }
  a {
    @include stylish-font;
    text-decoration: none;
    &:link {
      color: #4d4d4d;
    }
    &:visited {
      color: #4d4d4d;
    }
    &:hover {
      color: red;
      text-decoration: underline;
    }
  }
}

p.post-date {
  @include stylish-font;
  color: $favorite-blue-color;
}
